.hero_content {
    width: 70%;
    background-color: aqua;
    margin: 0 auto;
    display: grid;
    background-color: #dddddd;
    border: 2px solid #e4e4e4;
    border-radius: 10px;
    padding: 0;
    grid-template-areas: "img info info";
}
.hero_image img {
    grid-area: img;
    max-height: 80vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.hero_info {
    background-color: #cecece;
    grid-area: info;
    border-bottom-right-radius: 10px;
}
.hero_info h4 {
    text-align: center;
}
.hero_info hr {
    color: black;
}
.hero_info .hero_title {
    border-top-right-radius: 10px;
    background-color: #272727;
    color: #fff;
    margin: 0;
    text-align: center;
    padding: 1em;
}
.hero_info ul li {
    margin-bottom: .8em;
}
.section_btn {
    width: 80%;
    margin: 1em auto;
}
.btn_return {
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: .8em;
    padding: .5em 1em;
    letter-spacing: 1px;
    background-color: #e40f0f;
    color: #fff;
    transition: .2s background-color ease;
    cursor: pointer;
}
.btn_return:hover {
    background-color: #bb0000;
}
/* __ Centrar btn_return */