.form_search {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    padding: .2em 2em;
}
.form_section {
    width: 70%;
}
.btn_search,
.form_input {
    padding: .3em 1em;
    font-size: 1.2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    outline: none;
}
.form_input {
    width: 100%;
    border-bottom: 2px solid #3d3d3d;
}
.form_section_btn {
    margin: 0 auto;
}
.btn_search {
    background-color: #1818bd;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s background-color ease;
}
.btn_search:hover {
    background-color: blue;
}
.cards_results {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}
.title_results {
    margin-left: 2em;
}
.alert_danger,
.alert_info {
    margin: 2em;
    padding: 1.5em;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.alert_info {
    background-color: rgb(190, 0, 0);
}
.alert_danger {
    background-color: #d1d100;
}