.content_404 {
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text p,
.text h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
    color: rgb(202, 0, 0);
    text-align: center;
}
.img {
    padding: 1em;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
}
.img img {
    border: 2px solid rgb(184, 184, 184);
}